/* -------------------------------------------------------------------------- */
/*                                   Layout                                   */
/* -------------------------------------------------------------------------- */
:root{
	font-size: 100%;
	--hover-primary: #f311f3;
	--text-primary: #5F295F;
	--text-primary-dark: #5C105C;
	--text-primary-light: #EAE0EC;
	--bg-dark: #0F0F0F;
	--bg-light: #FCFCFD; 
	font-family: 'Zen Kaku Gothic New', sans-serif;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	background-color: var(--bg-light);
	transition: 0.5s;
}

.icon {
	display: inline-block;
	width: 2rem;
	height: 2rem;
	font-size: 2rem;
	stroke-width: 0;
	stroke: currentColor;
	fill: currentColor;
}

/* --------------------------------- Header --------------------------------- */

header {
	height: 75px;
	position: -webkit-sticky;
	position: sticky;
	z-index: 1;
	top: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: var(--bg-light);
	padding: 0 2rem;
}

header h1 {
	justify-self: center;
	margin-left: auto;
	margin-right: auto;
	font-size: 2em;
}

#side-nav-container {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	z-index: 1;
	transition: 0.5s;
	background-color: var(--bg-dark);
}

aside nav {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	height: 50%;
	margin-top: 18px;
	opacity: 0;
	transition: 0.2s;
}

nav a {
	color: var(--text-primary-light);
	text-align: center;
}

.nav-btn {
	border: none;
	transition: 0.2s;
}

#nav-btn-open {
	color: var(--bg-dark);
	background-color: var(--bg-light);
}

#nav-btn-close {
	color: var(--bg-light);
	background-color: var(--bg-dark);
}

#nav-btn-open:hover, #nav-btn-close:hover, nav a:hover {
	color: var(--hover-primary);
	cursor: pointer;
}

.active {
	box-shadow: inset 10px 0 0 0 var(--hover-primary);
	opacity: 0;
	transition: 0.5s;
}
/* ---------------------------------- Grid ---------------------------------- */
main {
	margin: 0 2rem 2rem;
	display: grid;
	grid-auto-rows: 1fr;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(3, 1fr);
	column-gap: 2rem;
	row-gap: 2rem;
	height: calc(100vh - 75px - 2rem);
}

.canvas-wrapper {
	position: relative;
}

.grid-panel {
	display: grid;
	grid-template-columns: subgrid;
	border: solid 1px black;
	border-radius: 5px;
}

.grid-fw {
	grid-column: 1/5;
}

.grid-hw {
	grid-column: 1/3;
}
/* --------------------------- Mobile Break Points -------------------------- */

@media only screen and (min-width: 600px) and (max-width: 992px) {
	main {
		grid-template-rows: repeat(4, 1fr);
	}

	.grid-fw {
		grid-column: 1/7;
	}

	.grid-hw {
		grid-column: 1/4;
	}
}

@media only screen and (max-width: 600px) {
	html, body, main {
		height: fit-content;
	}

	main {
		grid-template-rows: repeat(7, minmax(265px, 100%));
		column-gap: 0;
	}
	
	.grid-fw {
		grid-column: 1/13;
	}

	.grid-hw {
		grid-column: 1/7;
	}
}

/* ---------------------------------- Index --------------------------------- */
#stats-box {
	grid-column: 1/5;
}

#tags-box {
	grid-column: 5/9;
}

#api-box {
	grid-column: 9/13;
	grid-row: 1/3;
}

#post-box {
	grid-column: 1/9;
	grid-row: 2/4;
}

#user-box {
	grid-column: 9/13;
}
/* --------------------------- Mobile Break Points -------------------------- */

@media only screen and (min-width: 600px) and (max-width: 992px) {
	#stats-box {
		grid-column: 1/7;
	}

	#tags-box {
		grid-column: 7/13;
	}

	#post-box {
		grid-column: 1/13;
		grid-row: 2/5;
	}

	#api-box {
		grid-column: 1/13;
		grid-row: 5/6;
	}

	#user-box {
		grid-column: 1/13;
	}
}

@media only screen and (max-width: 600px) {
	#stats-box {
		grid-column: 1/13;
	}

	#post-box {
		grid-column: 1/13;
		grid-row: 2/5;
	}

	#tags-box {
		grid-column: 1/13;
		grid-row: 5/6;
	}
	
	#api-box {
		grid-column: 1/13;
		grid-row: 6/7;
	}
	
	#user-box {
		grid-column: 1/13;
	}
}