/* -------------------------------------------------------------------------- */
/*                                   Layout                                   */
/* -------------------------------------------------------------------------- */
:root{
	color: var(--ehu-colors-neutral-black);
	background-color: var(--off-white);
	font-size: 100%;
	font-family: 'Signika Negative', sans-serif;
	// font-family: 'Inter', sans-serif;
	// font-family: 'Signika Negative', sans-serif;
	--default-spacing: 1rem;
	--small-text: 0.8rem;
	--default-text: 1.1rem;
	--large-text: 1.3rem;
	--hover-primary: #f311f3;
	--text-primary: #5F295F;
	--text-primary-dark: #5C105C;
	--text-primary-light: #EAE0EC;
	--off-white: #F3F3F9;
	--bg-dark: #0F0F0F;
	--bg-light: #FCFCFD;
	--bg-grey: #383734;
	--general-green: #32db18;
	--general-red: #db1828;
	--general-blue: #18a4db;
	--general-blue-dark: #135b79;
	--general-yellow: #dbc418;
	--ehu-colors-heritage-purple: #5f295f;
	--ehu-colors-secondary-yellow-lightest: #feea60;
}

@mixin no-margin-or-padding {
	margin: 0;
	padding: 0;
}

html, body {
	@include no-margin-or-padding;
	height: 100%;
}

h1, h2, h3, h4, h5 {
	font-family: 'Bitter', serif;
}

a, p, ol, ul, dl, dd {
	@include no-margin-or-padding;
}

body {
	transition: 0.5s;
}

ol, ul, dl {
	list-style: none;
}

a {
	color: var(--general-blue);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

:modal {
	max-width: 80vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: auto;
	background-color: var(--bg-light);
	border: solid 1px var(--bg-dark);
	border-radius: 10px;
	color: var(--bg-dark);
}

.modal-head {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.icon {
	display: inline-block;
	width: 1rem;
	height: 1rem;
	font-size: 1rem;
	stroke-width: 0;
	stroke: currentColor;
	fill: currentColor;
}

$colors: ('purple-light': #f311f3, 'purple-dark': #5f295f, 'green': #32db18, 'red': #db1828, 'blue': #18a4db, 'yellow': #fde000, 'dark': #0F0F0F, 'light': #FCFCFD, 'grey': #383734);

@each $name, $hex in $colors {
	.text-#{$name} {
		color: $hex;
	}

	.bg-#{$name} {
		background-color: $hex;
	}

	.border-#{$name} {
		border: solid 1px $hex;
		border-radius: 5px;
	}

	.btn-#{$name} {
		color: $hex;
		border: solid 2px $hex;
	}

	.btn-#{$name}:hover {
		color: darken($hex, 35%);
		background-color: lighten($hex, 5%);
	}
}
/* --------------------------------- Header --------------------------------- */

header {
	min-height: 5rem;
	position: -webkit-sticky;
	position: sticky;
	z-index: 1;
	top: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	color: var(--bg-dark);
	background-color: var(--bg-light);
	padding: 0 2rem;

	h1 {
		justify-self: center;
		margin-left: auto;
		margin-right: auto;
		font-size: 2em;
	}
}

header .icon, aside .icon {
	font-size: 2rem;
	width: 2rem;
	height: 2rem;
}

#side-nav-container {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	z-index: 1;
	transition: 0.5s;
	background-color: var(--bg-dark);

	nav {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		height: 50%;
		margin-top: 1.5rem;
		opacity: 0;
		transition: 0.2s;
	}

	a {
		color: var(--text-primary-light);
		text-align: center;
	}

	a:hover {
		color: var(--hover-primary);
	}

	.active {
		color: var(--hover-primary);
		transition: 0.5s;
	}
}

button {
	cursor: pointer;
	height: 2rem;
	font-size: var(--large-text);
	background-color: var(--bg-light);
	border-radius: 5px;
}

button:disabled { //Saves a lot of JS so using important
	color: var(--bg-light) !important; 
	background-color: var(--bg-grey) !important;
	border: solid 1px black !important;
	cursor: wait !important;
}

.nav-btn {
	transition: 0.2s;
	border: none;
}

.nav-btn:hover {
	color: var(--hover-primary);
}

.nav-btn-light {
	background-color: var(--bg-light);
}

.nav-btn-dark {
	background-color: var(--bg-dark);
	color: var(--bg-light);
}

@media only screen and (max-width: 600px) {
	header {
		position: unset;
	}

	#side-nav-container {
		width: 100%;
		height: 100%;
		height: 4rem;
		left: 0;
		bottom: 0;
		top: unset;
		align-items: center;
		nav {
			height: 100%;
			align-items: center;
			flex-direction: row;
			margin-top: 0px;
			flex-direction: row;
			opacity: 100;
			padding: 0 1rem;
		}
	}

	#nav-btn-open,#nav-btn-close {
		display: none;
	}
}
/* ---------------------------------- Grid ---------------------------------- */

main {
	margin: 2vh 2vw;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	column-gap: 2vw;
	row-gap: 2vh;
}

.grid-panel {
	display: grid;
	grid-template-columns: subgrid;
	padding: 0 1rem;
	border-radius: 10px;
}

.btn-panel {
	padding: 0;
	height: 100%;
}

/* -------------------------- Grid Utility Classes -------------------------- */

$sizes: 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1;
@each $size in $sizes {
	.grid-w-#{$size} {
		grid-column: span $size;
	}

	.grid-h-#{$size}{
		grid-row: span $size;
	}
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
	@each $size in $sizes {
		.grid-mw-#{$size} {
			grid-column: span $size;
		}
		.grid-mh-#{$size} {
			grid-row: span $size;
		}
	}
}

@media only screen and (max-width: 600px) {
	main {
		column-gap: 0;
		height: fit-content;
		margin: 1rem 1rem 5rem;
	}

	@each $size in $sizes {
		.grid-sw-#{$size} {
			grid-column: span $size;
		}
		.grid-sh-#{$size} {
			grid-row: span $size;
		}
	}
}

/* ------------------------------ Page stylings ----------------------------- */

.canvas-wrapper {
	position: relative;
	height: 30vh;
	width: 100%;
	display: flex;
	justify-content: center;
}

.button-wrapper {
	display: flex;
	justify-content: space-around;
}

.panel-scroll {
	overflow-x: auto;
}

.info-panel {
	background-color: var(--bg-light);
	border: solid 2px var(--general-blue);
	color: var(--general-blue);
	border-radius: 5px;
	align-items: center;
	p {
		font-size: var(--default-text);
	}

	a {
		color: var(--bg-light);
	}
}

$text_aligns: 'left','center','right';
@each $text_align in $text_aligns {
	.text-#{$text_align} {
		text-align: #{$text_align};
	}
}

/* ---------------------------------- Index --------------------------------- */
.index-main {

	#stats-box {
		padding: 0;
		div {
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			align-items: center;
			font-size: var(--large-text);
			border-radius: 10px;
			margin: 10px 0;
		}
	}

	#post-box {
		.button-wrapper {
			align-items: center;
			button {
				width: 100%;
			}
		}
	}

	@media only screen and (min-width: 600px) {
		#stats-box div:not(:first-child) {
			flex-direction: row;
		}


		#question-wrapper {
			grid-area: 4/1 / 4/4;
		}
	}
}
/* -------------------------------- Trending -------------------------------- */