/* -------------------------------------------------------------------------- */
/*                                   Layout                                   */
/* -------------------------------------------------------------------------- */
:root {
  color: var(--ehu-colors-neutral-black);
  background-color: var(--off-white);
  font-size: 100%;
  font-family: "Signika Negative", sans-serif;
  --default-spacing: 1rem;
  --small-text: 0.8rem;
  --default-text: 1.1rem;
  --large-text: 1.3rem;
  --hover-primary: #f311f3;
  --text-primary: #5F295F;
  --text-primary-dark: #5C105C;
  --text-primary-light: #EAE0EC;
  --off-white: #F3F3F9;
  --bg-dark: #0F0F0F;
  --bg-light: #FCFCFD;
  --bg-grey: #383734;
  --general-green: #32db18;
  --general-red: #db1828;
  --general-blue: #18a4db;
  --general-blue-dark: #135b79;
  --general-yellow: #dbc418;
  --ehu-colors-heritage-purple: #5f295f;
  --ehu-colors-secondary-yellow-lightest: #feea60;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

h1, h2, h3, h4, h5 {
  font-family: "Bitter", serif;
}

a, p, ol, ul, dl, dd {
  margin: 0;
  padding: 0;
}

body {
  transition: 0.5s;
  scrollbar-gutter: stable both-edges;
}

ol, ul, dl {
  list-style: none;
}

a {
  color: var(--general-blue);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

:modal {
  max-width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
  background-color: var(--bg-light);
  border: solid 1px var(--bg-dark);
  border-radius: 10px;
  color: var(--bg-dark);
}

.modal-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.icon {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  font-size: 1rem;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.text-purple-light {
  color: #f311f3;
}

.bg-purple-light {
  background-color: #f311f3;
}

.border-purple-light {
  border: solid 1px #f311f3;
  border-radius: 5px;
}

.btn-purple-light {
  color: #f311f3;
  border: solid 2px #f311f3;
}

.btn-purple-light:hover {
  color: #4e044e;
  background-color: #f429f4;
}

.text-purple-dark {
  color: #5f295f;
}

.bg-purple-dark {
  background-color: #5f295f;
}

.border-purple-dark {
  border: solid 1px #5f295f;
  border-radius: 5px;
}

.btn-purple-dark {
  color: #5f295f;
  border: solid 2px #5f295f;
}

.btn-purple-dark:hover {
  color: black;
  background-color: #713171;
}

.text-green {
  color: #32db18;
}

.bg-green {
  background-color: #32db18;
}

.border-green {
  border: solid 1px #32db18;
  border-radius: 5px;
}

.btn-green {
  color: #32db18;
  border: solid 2px #32db18;
}

.btn-green:hover {
  color: #0d3a06;
  background-color: #3fe725;
}

.text-red {
  color: #db1828;
}

.bg-red {
  background-color: #db1828;
}

.border-red {
  border: solid 1px #db1828;
  border-radius: 5px;
}

.btn-red {
  color: #db1828;
  border: solid 2px #db1828;
}

.btn-red:hover {
  color: #3a060b;
  background-color: #e72535;
}

.text-blue {
  color: #18a4db;
}

.bg-blue {
  background-color: #18a4db;
}

.border-blue {
  border: solid 1px #18a4db;
  border-radius: 5px;
}

.btn-blue {
  color: #18a4db;
  border: solid 2px #18a4db;
}

.btn-blue:hover {
  color: #062c3a;
  background-color: #25b0e7;
}

.text-yellow {
  color: #fde000;
}

.bg-yellow {
  background-color: #fde000;
}

.border-yellow {
  border: solid 1px #fde000;
  border-radius: 5px;
}

.btn-yellow {
  color: #fde000;
  border: solid 2px #fde000;
}

.btn-yellow:hover {
  color: #4b4200;
  background-color: #ffe418;
}

.text-dark {
  color: #0F0F0F;
}

.bg-dark {
  background-color: #0F0F0F;
}

.border-dark {
  border: solid 1px #0F0F0F;
  border-radius: 5px;
}

.btn-dark {
  color: #0F0F0F;
  border: solid 2px #0F0F0F;
}

.btn-dark:hover {
  color: #FCFCFD;
  background-color: #1c1c1c;
}

.text-light {
  color: #FCFCFD;
}

.bg-light {
  background-color: #FCFCFD;
}

.border-light {
  border: solid 1px #FCFCFD;
  border-radius: 5px;
}

.btn-light {
  color: #FCFCFD;
  border: solid 2px #FCFCFD;
}

.btn-light:hover {
  color: #9191b6;
  background-color: white;
}

.text-grey {
  color: #383734;
}

.bg-grey {
  background-color: #383734;
}

.border-grey {
  border: solid 1px #383734;
  border-radius: 5px;
}

.btn-grey {
  color: #383734;
  border: solid 2px #383734;
}

.btn-grey:hover {
  color: black;
  background-color: #454440;
}

/* --------------------------------- Header --------------------------------- */
header {
  min-height: 5rem;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--bg-dark);
  background-color: var(--bg-light);
  padding: 0 2rem;
}
header h1 {
  justify-self: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 2em;
}

header .icon, aside .icon {
  font-size: 2rem;
  width: 2rem;
  height: 2rem;
}

#side-nav-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  z-index: 1;
  transition: 0.5s;
  background-color: var(--bg-dark);
}
#side-nav-container nav {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 50%;
  margin-top: 1.5rem;
  opacity: 0;
  transition: 0.2s;
}
#side-nav-container a {
  color: var(--text-primary-light);
  text-align: center;
}
#side-nav-container a:hover {
  color: var(--hover-primary);
}
#side-nav-container .active {
  color: var(--hover-primary);
  transition: 0.5s;
}
#side-nav-container button {
  height: 2rem;
}

button {
  cursor: pointer;
  height: 100%;
  font-size: var(--large-text);
  background-color: var(--bg-light);
  border-radius: 5px;
}

button:disabled {
  color: var(--bg-light) !important;
  background-color: var(--bg-grey) !important;
  border: solid 1px black !important;
  cursor: wait;
}

.nav-btn {
  transition: 0.2s;
  border: none;
}

.nav-btn:hover {
  color: var(--hover-primary);
}

.nav-btn-light {
  background-color: var(--bg-light);
}

.nav-btn-dark {
  background-color: var(--bg-dark);
  color: var(--bg-light);
}

@media only screen and (max-width: 600px) {
  header {
    position: unset;
  }
  #side-nav-container {
    width: 100%;
    height: 100%;
    height: 4rem;
    left: 0;
    bottom: 0;
    top: unset;
    align-items: center;
  }
  #side-nav-container nav {
    height: 100%;
    align-items: center;
    flex-direction: row;
    margin-top: 0px;
    flex-direction: row;
    opacity: 100;
    padding: 0 1rem;
  }
  #nav-btn-open, #nav-btn-close {
    display: none;
  }
}
/* ---------------------------------- Grid ---------------------------------- */
main {
  margin: 2vh 2vw;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 2vw;
  row-gap: 2vh;
}

.grid-panel {
  display: grid;
  grid-template-columns: subgrid;
  align-items: center;
  padding: 0 1rem;
  border-radius: 10px;
}

.btn-panel {
  padding: 0;
  height: 100%;
}

.button-wrapper {
  align-items: center;
}
.button-wrapper button {
  width: 100%;
}

/* -------------------------- Grid Utility Classes -------------------------- */
.grid-w-12 {
  grid-column: span 12;
}

.grid-h-12 {
  grid-row: span 12;
}

.grid-w-11 {
  grid-column: span 11;
}

.grid-h-11 {
  grid-row: span 11;
}

.grid-w-10 {
  grid-column: span 10;
}

.grid-h-10 {
  grid-row: span 10;
}

.grid-w-9 {
  grid-column: span 9;
}

.grid-h-9 {
  grid-row: span 9;
}

.grid-w-8 {
  grid-column: span 8;
}

.grid-h-8 {
  grid-row: span 8;
}

.grid-w-7 {
  grid-column: span 7;
}

.grid-h-7 {
  grid-row: span 7;
}

.grid-w-6 {
  grid-column: span 6;
}

.grid-h-6 {
  grid-row: span 6;
}

.grid-w-5 {
  grid-column: span 5;
}

.grid-h-5 {
  grid-row: span 5;
}

.grid-w-4 {
  grid-column: span 4;
}

.grid-h-4 {
  grid-row: span 4;
}

.grid-w-3 {
  grid-column: span 3;
}

.grid-h-3 {
  grid-row: span 3;
}

.grid-w-2 {
  grid-column: span 2;
}

.grid-h-2 {
  grid-row: span 2;
}

.grid-w-1 {
  grid-column: span 1;
}

.grid-h-1 {
  grid-row: span 1;
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
  .grid-mw-12 {
    grid-column: span 12;
  }
  .grid-mh-12 {
    grid-row: span 12;
  }
  .grid-mw-11 {
    grid-column: span 11;
  }
  .grid-mh-11 {
    grid-row: span 11;
  }
  .grid-mw-10 {
    grid-column: span 10;
  }
  .grid-mh-10 {
    grid-row: span 10;
  }
  .grid-mw-9 {
    grid-column: span 9;
  }
  .grid-mh-9 {
    grid-row: span 9;
  }
  .grid-mw-8 {
    grid-column: span 8;
  }
  .grid-mh-8 {
    grid-row: span 8;
  }
  .grid-mw-7 {
    grid-column: span 7;
  }
  .grid-mh-7 {
    grid-row: span 7;
  }
  .grid-mw-6 {
    grid-column: span 6;
  }
  .grid-mh-6 {
    grid-row: span 6;
  }
  .grid-mw-5 {
    grid-column: span 5;
  }
  .grid-mh-5 {
    grid-row: span 5;
  }
  .grid-mw-4 {
    grid-column: span 4;
  }
  .grid-mh-4 {
    grid-row: span 4;
  }
  .grid-mw-3 {
    grid-column: span 3;
  }
  .grid-mh-3 {
    grid-row: span 3;
  }
  .grid-mw-2 {
    grid-column: span 2;
  }
  .grid-mh-2 {
    grid-row: span 2;
  }
  .grid-mw-1 {
    grid-column: span 1;
  }
  .grid-mh-1 {
    grid-row: span 1;
  }
}
@media only screen and (max-width: 600px) {
  main {
    column-gap: 0;
    height: fit-content;
    margin: 1rem 1rem 5rem;
  }
  .grid-sw-12 {
    grid-column: span 12;
  }
  .grid-sh-12 {
    grid-row: span 12;
  }
  .grid-sw-11 {
    grid-column: span 11;
  }
  .grid-sh-11 {
    grid-row: span 11;
  }
  .grid-sw-10 {
    grid-column: span 10;
  }
  .grid-sh-10 {
    grid-row: span 10;
  }
  .grid-sw-9 {
    grid-column: span 9;
  }
  .grid-sh-9 {
    grid-row: span 9;
  }
  .grid-sw-8 {
    grid-column: span 8;
  }
  .grid-sh-8 {
    grid-row: span 8;
  }
  .grid-sw-7 {
    grid-column: span 7;
  }
  .grid-sh-7 {
    grid-row: span 7;
  }
  .grid-sw-6 {
    grid-column: span 6;
  }
  .grid-sh-6 {
    grid-row: span 6;
  }
  .grid-sw-5 {
    grid-column: span 5;
  }
  .grid-sh-5 {
    grid-row: span 5;
  }
  .grid-sw-4 {
    grid-column: span 4;
  }
  .grid-sh-4 {
    grid-row: span 4;
  }
  .grid-sw-3 {
    grid-column: span 3;
  }
  .grid-sh-3 {
    grid-row: span 3;
  }
  .grid-sw-2 {
    grid-column: span 2;
  }
  .grid-sh-2 {
    grid-row: span 2;
  }
  .grid-sw-1 {
    grid-column: span 1;
  }
  .grid-sh-1 {
    grid-row: span 1;
  }
}
/* ------------------------------ Page stylings ----------------------------- */
.hidden {
  display: none;
}

.canvas-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
}
.canvas-wrapper canvas {
  max-width: 100%;
  max-height: 100%;
}

.button-wrapper {
  display: flex;
  justify-content: space-around;
}

.panel-scroll {
  overflow-x: auto;
}

.info-panel {
  background-color: var(--bg-light);
  border: solid 2px var(--general-blue);
  color: var(--general-blue);
  border-radius: 5px;
  align-items: center;
}
.info-panel p {
  font-size: var(--default-text);
}
.info-panel a {
  color: var(--bg-light);
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.form-item {
  display: flex;
  flex-direction: column;
  height: 60px;
  margin: 20px 10px;
}
.form-item input {
  height: 40px;
  width: 100%;
  border: solid 1px var(--bg-dark);
  border-radius: 5px;
  font-size: var(--default-text);
  font-family: "Signika Negative", sans-serif;
}
.form-item input[type=date] {
  height: 36px;
}

.form-btn {
  margin-top: 20px;
  height: 40px;
}

/* ---------------------------------- Index --------------------------------- */
.index-main #stats-box {
  padding: 0;
}
.index-main #stats-box div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: var(--large-text);
  border-radius: 10px;
  margin: 10px 0;
  height: calc(100% - 20px);
}
@media only screen and (min-width: 600px) {
  .index-main #stats-box div:not(:first-child) {
    flex-direction: row;
  }
}
@media only screen and (min-width: 992px) {
  .index-main #question-wrapper, .index-main #user-wrapper {
    height: 25vh;
  }
  .index-main .summary-text {
    height: 25vh;
  }
  .index-main #tags-wrapper, .index-main #badges-wrapper {
    height: 35vh;
  }
}

/* ---------------------------------- Tags ---------------------------------- */
#hidden-form {
  height: unset;
}

.datatable-table tbody tr:nth-child(odd) {
  background-color: var(--off-white);
}

.filter-list {
  columns: 3;
}
.filter-list li {
  display: flex;
  justify-content: space-between;
  height: 1.5rem;
  font-size: 1.25rem;
}
.filter-list li i:hover {
  color: var(--hover-primary);
  cursor: pointer;
}
.filter-list li:nth-child(odd) {
  background-color: var(--off-white);
}

.autoComplete_wrapper {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
