/* -------------------------------------------------------------------------- */
/*                                   Layout                                   */
/* -------------------------------------------------------------------------- */

:root{
	font-size: 100%;
	--hover-primary: #f311f3;
	--text-primary: #5F295F;
	--text-primary-dark: #5C105C;
	--text-primary-light: #EAE0EC;
	--bg-dark: #0F0F0F;
	--bg-light: #FCFCFD; 
	font-family: 'Zen Kaku Gothic New', sans-serif;
}

body {
	max-width: 100%;
	background-color: var(--bg-light);
	transition: 0.5s;
	margin: 0;
	padding: 0;
}

.icon {
	display: inline-block;
	width: 2rem;
	height: 2rem;
	font-size: 2rem;
	stroke-width: 0;
	stroke: currentColor;
	fill: currentColor;
}

header {
	height: 7.5vh;
	position: -webkit-sticky;
	position: sticky;
	z-index: 1;
	top: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: var(--bg-light);
	padding: 0 2rem;
}

header h1 {
	justify-self: center;
	margin-left: auto;
	margin-right: auto;
	font-size: 2em;
}

#side-nav-container {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	z-index: 1;
	overflow-x: hidden;
	transition: 0.5s;
	background-color: var(--bg-dark);
}

aside nav {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	height: 50%;
	margin-top: 2vh;
	align-items: center;
	opacity: 0;
	transition: 0.5s;
}

nav a {
	color: var(--text-primary-light);	
}

.nav-btn {
	border: none;
}

#nav-btn-open {
	justify-self: flex-start;
	align-self: center;
	color: var(--bg-dark);
	background-color: var(--bg-light);
	transition: 0.1s;
}

#nav-btn-close {
	color: var(--bg-light);
	background-color: var(--bg-dark);
	transition: 0.5s;
}

#nav-btn-open:hover, #nav-btn-close:hover, nav a:hover {
	color: var(--hover-primary);
	cursor: pointer;
}

/* --------------------------- Mobile Break Points -------------------------- */

@media only screen and (max-width: 992px) {
	header h1, header button {
		font-size: 2rem;
	}
}

@media only screen and (max-width: 600px) {
	header h1, header button {
		font-size: 2rem;
	}
}
/* -------------------------------------------------------------------------- */
/*                                   Content                                  */
/* -------------------------------------------------------------------------- */

.index-main {
	margin: 0 2.5vw;
	display: grid;
	width: calc(100vw - 5rem);
	height: 100%;
}

#canvas-wrapper {
	position: relative;
	height: 25vh;
	width: 50vw;
}

p {
	word-wrap: break-word;
}