<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>404 Error - Page Not Found</title>
		<meta http-equiv="refresh" content="5;url=/">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Bitter:wght@300;400&family=Inter:wght@200;400&family=Plus+Jakarta+Sans:wght@300&family=Signika+Negative:wght@300&display=swap" rel="stylesheet">
		<style>
			body {
				/* Fancy gradient courtesy of https://www.gradientmagic.com/collection/lightbg */
				background-image: repeating-linear-gradient(45deg, rgb(255,255,255) 0px, rgb(255,255,255) 10px,transparent 10px, transparent 11px),repeating-linear-gradient(135deg, rgb(255,255,255) 0px, rgb(255,255,255) 10px,transparent 10px, transparent 11px),linear-gradient(90deg, hsl(256,7%,84%),hsl(256,7%,84%));
				font-family: 'Signika Negative', sans-serif;
				font-size: 16px;
				line-height: 1.5;
				color: #333;
				background-color: #f2f2f2;
				padding: 50px;
			}

			h1 {
				font-size: 36px;
				font-weight: bold;
				margin-bottom: 20px;
			}

			p {
				margin-bottom: 20px;
			}
		</style>
	</head>
	<body>
		<h1>404 Error - Page Not Found</h1>
		<p>We're sorry, the page you requested could not be found.</p>
		<p>You will be redirected to our homepage in 5 seconds. If you are not automatically redirected, please <a href="/">click here</a>.</p>
	</body>
</html>