{% extends "layout.html" %}
{% set active_page = index %}
{% block title %}Home{% endblock %}
{% block header %}Home{% endblock %}
{% block main_name %}index{% endblock %}
{% block content %}
	<section id="stats-box" class="canvas-wrapper grid-panel">
		<canvas id="myChart"></canvas>
	</section>
	<section id="tags-box" class="canvas-wrapper grid-panel">
		<p>TAGS GO HERE</p>
	</section>
	<section id="api-box" class="canvas-wrapper grid-panel">
		<p>API STUFF</p>
	</section>
	<section id="post-box" class="canvas-wrapper grid-panel">
		<p>POST stuff</p>
	</section>
	<section id="user-box" class="canvas-wrapper grid-panel">
		<p>USER STUFF</p>
	</section>
	<section id="comments-box" class="canvas-wrapper grid-panel">
		<p>COMMENTS STUFF</p>
	</section>
{% endblock %}