{% extends "layout.html.jinja" %}
{% set active_page = "index" %}
{% block title %}Home{% endblock %}
{% block header %}Stack Overflow Data Dashboards{% endblock %}
{% block main_name %}index{% endblock %}
{% block content %}
	<section id="stats-box" class="grid-panel grid-w-12 text-center">
		<div class="grid-w-3 grid-sw-12 bg-light text-dark">
			<p>Data taken between <i class="fa-solid fa-calendar"></i></p>
			<p><span class="stats-figure"><span class="text-purple-light">{{ data['question_date_range']['data'][0] }} {{ data['question_date_range']['data'][1] }}</span></p>
		</div>
		<div class="grid-w-6 grid-sw-12 bg-light text-dark">
			<p><span class="text-purple-light">{{ data['table_row_count']['data']['question'] }}</span> Questions</p>
			<p><span class="text-purple-light">{{ data['table_row_count']['data']['answer'] }}</span> Answers</p>
			<p><span class="text-purple-light">{{ data['table_row_count']['data']['comments'] }}</span> Comments</p>
			<p><span class="text-purple-light">{{ data['table_row_count']['data']['tag_link']}}</span> Tags</p>
		</div>
		<div class="grid-w-3 grid-sw-12 bg-light text-dark">
			<p><span class="text-purple-light">{{ data['table_row_count']['data']['user'] }}</span> Users</p>
			<p><span class="text-purple-light">{{ data['table_row_count']['data']['badge_link'] }}</span> Badges</p>
		</div>
	</section>
	<section id="post-box" class="grid-panel bg-light grid-w-6 grid-sw-12">
		<div class="grid-w-3 grid-mw-12 grid-sw-12 summary-text">
			<h1 class="text-center">Welcome!</h1>
			<p>
				this site offers insights and metrics based on data from Stack Overflow.
				Our platform offers an opportunity to explore trends in programming languages, technologies, and practices through analysis of the Stack Overflow community.
			</p>
			<h3 class="text-center">Looking for something more specific?</h3>
			<p>Results can be filtered on the Posts, Users and Tags pages click the compass for a list of tags in your preferred field to get started.</p>
		</div>
		<div class="grid-w-3 grid-mw-12 grid-sw-12">
			<h1 class="grid-w-3 grid-sw-12 text-center" id="answer-header">Question responses</h1>
			<div class="grid-w-3 grid-sw-12 canvas-wrapper" id="question-wrapper">
				<canvas id="acceptanceChart" aria-label="Question responses" role="img">
					<p></p>
				</canvas>
			</div>
		</div>
		<h1 class="grid-w-4 grid-sw-8 text-left">Question tags</h1>
		<div class="grid-w-2 grid-sw-4 button-wrapper">
			<button class="btn-green index-tag" id="more-tags"><i class="fa-solid fa-plus"></i></button>
			<button class="btn-red index-tag" id="less-tags"><i class="fa-solid fa-minus"></i></button>
		</div>
		<div class="grid-w-6 grid-sw-12 canvas-wrapper" id="tags-wrapper">
			<canvas id="tagChart" aria-label="Tags chart" role="img">
				<p></p>
			</canvas>
		</div>
		<i class="grid-w-12 text-grey">For more details on a tag and more questions: <a href="https://stackoverflow.com/tags" target="_blank" rel="noopener noreferrer">Click here</a></i>
	</section>
	<section id="user-box" class="grid-panel grid-w-6 grid-sw-12 bg-light">
		<h1 class="grid-w-12 grid-sw-12 text-left text-center">Active users by year created</h1>
		<div class="grid-w-6 grid-sw-12 canvas-wrapper" id="user-wrapper">
			<canvas id="userChart" aria-label="User Age Chart" role="img">
				<p></p>
			</canvas>
		</div>
		<h1 class="grid-w-4 grid-sw-8 text-left">User badges</h1>
		<div class="grid-w-2 grid-sw-4 button-wrapper">
			<button class="btn-green index-tag" id="more-badges"><i class="fa-solid fa-plus"></i></button>
			<button class="btn-red index-tag" id="less-badges"><i class="fa-solid fa-minus"></i></button>
		</div>
		<div class="grid-w-6 grid-sw-12 canvas-wrapper" id="badges-wrapper">
			<canvas id="badgeChart" aria-label="Badge chart" role="img">
				<p></p>
			</canvas>
		</div>
		<i class="grid-w-12 text-grey">For more details on user badges: <a href="https://stackoverflow.com/badges" target="_blank" rel="noopener noreferrer">Click here</a></i>
	</section>
{% endblock %}
{% block scripts %}
	<script>
		init_index();
	</script>
{% endblock %}
