{% extends "layout.html" %}
{% set active_page = index %}
{% block title %}Home{% endblock %}
{% block header %}Home{% endblock %}
{% block main_name %}index{% endblock %}
{% block content %}
	<section id="stats-box" class="grid-panel">
		<div class="grid-fw">
			<h5>Welcome to the Stack Overflow Datadashbaords</h5>
			<p>
				This dashbord system currently contains data between <br>
				{{ data['question_date_range']['data'][0] }} and {{ data['question_date_range']['data'][1] }}<br>
				The total dataset for this system is:
					<dl>
						<dt>{{ data['table_row_count']['data']['posts'] }} Posts</dt>
						<dd>{{ data['table_row_count']['data']['question'] }} questions</dd>
						<dd>{{ data['table_row_count']['data']['answer'] }} answers</dd>
						<dd>{{ data['table_row_count']['data']['comments'] }} comments</dd>
						<dt>{{ data['table_row_count']['data']['user'] }} users</dt>
						<dd>{{ data['table_row_count']['data']['badges'] }} badges</dd>
					</dl>
			</p>
		</div>
	</section>
	<section id="tags-box" class="canvas-wrapper grid-panel">
		<p>TAGS GO HERE</p>
	</section>
	<section id="api-box" class="canvas-wrapper grid-panel">
		{{data | pprint }}
	</section>
	<section id="post-box" class="canvas-wrapper grid-panel">
		<p>POST stuff</p>
	</section>
	<section id="user-box" class="canvas-wrapper grid-panel">
		<div class="canvas-wrapper">
			<canvas id="myChart"></canvas>
		</div>
	</section>
{% endblock %}