<!DOCTYPE html>
<html lang="en">
	<head>
		{% block head %}
		<meta charset="UTF-8">
  		<meta name="description" content="Dashboards to display stack overflow metrics">
  		<meta name="keywords" content="Dashboard, Metrics, Stack Overflow">
  		<meta name="author" content="Tom Slater">
  		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
		<title>{%block title %}{% endblock %} - Stack Overflow Data</title>
		<link href="{{url_for('static', filename='img/favicon.ico')}}" rel="shortcut icon" type="image/x-icon" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@10.2.7/dist/css/autoComplete.02.min.css">
		<link href="https://fonts.googleapis.com/css2?family=Bitter:wght@300;400&family=Inter:wght@200;400&family=Plus+Jakarta+Sans:wght@300&family=Signika+Negative:wght@300&display=swap" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
		<link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" type="text/css">
		<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" type="text/javascript"></script>
		<script src="https://cdn.jsdelivr.net/npm/chart.js" type="text/javascript"></script>
		<script src="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@10.2.7/dist/autoComplete.min.js"></script>
		<script src="https://kit.fontawesome.com/e6ab67135e.js" crossorigin="anonymous"></script>
		<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
		<script>let firefox_fix;</script>
		{% endblock %}
	</head>
	<body>
		<header class="text-center">	
			<button class="nav-btn nav-btn-light" id="nav-btn-open">
				<svg class="icon icon-view-list"><use xlink:href="#icon-view-list"></use></svg>
			</button>
			<h1>{%block header %}{% endblock %}</h1>
		</header>
		<aside id="side-nav-container">
			<nav>
				<button class="nav-btn nav-btn-dark" id="nav-btn-close">
					<svg class="icon icon-close"><use xlink:href="#icon-close"></use></svg>
				</button>
				{% set navigation_bar = [
					('/','index','icon-home'),
					('/tags','tags','icon-tag'),
					('/posts','posts','icon-bubbles'),
					('/users','users','icon-user-group'),
					('/locations','locations','icon-globe'),
					('/trending','trending','icon-toolscopy')
				] -%}
				{% set active_page = active_page|default('index') -%}
				{% for href, id, icon in navigation_bar %}
					<a {% if id == active_page %} class="active" {% endif %} href="{{ href|e }}">
						<svg class="icon {{ icon|e }}"><use href="#{{ icon|e }}"></use></svg>
					</a>
				{% endfor %}
				<button class="nav-btn nav-btn-dark" id="info-modal-open">
					<svg class="icon icon-information-solid"><use xlink:href="#icon-information-solid"></use></svg>
				</button>
			</nav>
		</aside>
		<main class="{%block main_name%}{% endblock %}-main">
			{% block content %}
			{% endblock %}
		</main>
		{% block scripts %}
		{% endblock %}
	</body>
	<dialog id="info-modal" class="modal">
		<div class="modal-head">
			<button class="nav-btn nav-btn-light" id="info-modal-close">
				<svg class="icon icon-close"><use xlink:href="#icon-close"></use></svg>
			</button>
		</div>
		<div class="modal-body">
			<h2 class="text-center">Recommended starting tags</h2>
			<p>
				Looking for a few tags to get started? use one or more of the following on the tags page to find more in your respective field.
				More tags can be found using the filtering options on the Tags page
			</p>
			<ul id="recommended-list">
				<li class="list-head">
					Web Design and Development
					<ul>
						<li><a href="https://stackoverflow.com/questions/tagged/html" target="_blank" rel="nofollow norefferer">html</a></li>
						<li><a href="https://stackoverflow.com/questions/tagged/javascript" target="_blank" rel="nofollow norefferer">javascript</a></li>
						<li><a href="https://stackoverflow.com/questions/tagged/css" target="_blank" rel="nofollow norefferer">css</a></li>
					</ul>
				</li>
				<li class="list-head">
					Machine learning
					<ul>
						<li><a href="https://stackoverflow.com/questions/tagged/python" target="_blank" rel="nofollow norefferer">python</a></li>
						<li><a href="https://stackoverflow.com/questions/tagged/tensorflow" target="_blank" rel="nofollow norefferer">tensorflow</a></li>
						<li><a href="https://stackoverflow.com/questions/tagged/pytorch" target="_blank" rel="nofollow norefferer">pytorch</a></li>
					</ul>
				</li>
				<li class="list-head">
					Software Development
					<ul>
						<li><a href="https://stackoverflow.com/questions/tagged/oop" target="_blank" rel="nofollow norefferer">oop</a></li>
						<li><a href="https://stackoverflow.com/questions/tagged/java" target="_blank" rel="nofollow norefferer">java</a></li>
						<li><a href="https://stackoverflow.com/questions/tagged/c++" target="_blank" rel="nofollow norefferer">c++</a></li>
					</ul>
				</li>
				<li class="list-head">
					Data Analysis
					<ul>
						<li><a href="https://stackoverflow.com/questions/tagged/python" target="_blank" rel="nofollow norefferer">python</a></li>
						<li><a href="https://stackoverflow.com/questions/tagged/nltk" target="_blank" rel="nofollow norefferer">nltk</a></li>
						<li><a href="https://stackoverflow.com/questions/tagged/sentiment-analysis" target="_blank" rel="nofollow norefferer">sentiment-analysis</a></li>
					</ul>
				</li>
				<li class="list-head">
					Database Design and Development
					<ul>
						<li><a href="https://stackoverflow.com/questions/tagged/sql" target="_blank" rel="nofollow norefferer">sql</a></li>
						<li><a href="https://stackoverflow.com/questions/tagged/json" target="_blank" rel="nofollow norefferer">json</a></li>
						<li><a href="https://stackoverflow.com/questions/tagged/xml" target="_blank" rel="nofollow norefferer">xml</a></li>
					</ul>
				</li>
				<li class="list-head">
					Security
					<ul>
						<li><a href="https://stackoverflow.com/questions/tagged/hash" target="_blank" rel="nofollow norefferer">hash</a></li>
						<li><a href="https://stackoverflow.com/questions/tagged/encryption" target="_blank" rel="nofollow norefferer">encryption</a></li>
						<li><a href="https://stackoverflow.com/questions/tagged/validation" target="_blank" rel="nofollow norefferer">validation</a></li>
					</ul>
				</li>
			</ul>
			<h3 class="text-center">The boring legal bit</h3>
			<p class="text-center">
				This dataset has been made publicly available at: <a class="text-right" href="https://archive.org/details/stackexchange" target="_blank" rel="noopener noreferrer">Stack Exchange Data Dump - Archive.org</a>
				Live site data is courtesy of the <a class="text-right" href="https://api.stackexchange.com/" target="_blank" rel="noopener noreferrer">Stack Exchange API</a>
			</p>
		</div>
	</dialog>
	{% include 'icosvg.html.jinja' %}
</html>