{% extends "layout.html.jinja" %}
{% set active_page = "locations" %}
{% block title %}Location Details{% endblock %}
{% block header %}Stack Overflow Data Dashboards{% endblock %}
{% block main_name %}location{% endblock %}
{% block content %}
	{% include '/components/tagform.html.jinja' %}
	<article class="grid-panel bg-light grid-w-12 grid-mw-12 grid-sw-12">
		<h1 class="grid-w-12 grid-sw-12 text-left">User locations</h1>
		<div class="grid-w-12 panel-scroll">
			<table id="location-table">
				<thead>
					<th>Location</th>
					<th>Count</th>
					<th>Average Reputation</th>
					<th>Total Reputation</th>
					<th>Average Creation Date</th>
					<th>Questions Asked</th>
					<th>Answered Given</th>
					<th>Comments Made</th>
				</thead>
				<tbody class="table-striped">
				</tbody>
			</table>
		</div>
		<div class="grid-w-12 export-panel">
			<button class="btn-dark csv">Export CSV</button>
			<button class="btn-dark sql">Export SQL</button>
			<button class="btn-dark json">Export JSON</button>
			<button class="btn-dark txt">Export TXT</button>
		</div>
	</article>
{% endblock %}
{% block scripts %}
	<script>
		init_locations();
	</script>
{% endblock %}