{% extends "layout.html.jinja" %}
{% set active_page = "posts" %}
{% block title %}Post Details{% endblock %}
{% block header %}Stack Overflow Data Dashboards{% endblock %}
{% block main_name %}posts{% endblock %}
{% block content %}

{% endblock %}
{% block scripts %}
	<script>
		init_posts();
	</script>
{% endblock %}