{% extends "layout.html.jinja" %}
{% set active_page = "posts" %}
{% block title %}Post Details{% endblock %}
{% block header %}Stack Overflow Data Dashboards{% endblock %}
{% block main_name %}posts{% endblock %}
{% block content %}
	{% include '/components/tagform.html.jinja' %}
	<article class="grid-panel bg-light grid-w-8 grid-mw-12 grid-sw-12">
		<h1 class="grid-w-8 grid-sw-12 text-left">Data from Questions, Answers and Comments with the given keyword</h1>
		<div class="grid-w-12 panel-scroll">
			<table>
				<thead>
					<th>Keyword</th>
					<th>Question Count</th>
					<th>Answers Count</th>
					<th>Comments Count</th>
					<th>Total Views</th>
					<th>Total Score</th>
					<th>Sentiment Score</th>
				</thead>
				<tbody class="table-striped">
				</tbody>
			</table>
		</div>
		<div class="grid-w-12 export-panel">
			<button class="btn-dark csv">Export CSV</button>
			<button class="btn-dark sql">Export SQL</button>
			<button class="btn-dark json">Export JSON</button>
			<button class="btn-dark txt">Export TXT</button>
		</div>
	</article>
	<section id="post-box" class="grid-panel bg-light grid-w-4 grid-mw-12 grid-sw-12">
		<div class="grid-w-4 grid-mw-6 grid-sw-12">
			<h1 class="text-left">Question responses</h1>
			<div class="canvas-wrapper" id="question-wrapper">
				<canvas id="acceptanceChart" aria-label="Question responses" role="img">
					<p></p>
				</canvas>
			</div>
		</div>
		<div class="grid-w-4 grid-mw-6 grid-sw-12">
			<h1 class="text-left">Question Engagement Level</h1>
			<div class="canvas-wrapper" id="engagement-wrapper">
				<canvas id="engagementChart" aria-label="Engagement Level" role="img">
					<p></p>
				</canvas>
			</div>
		</div>
		<div class="grid-w-4 grid-mw-12 grid-sw-12">
			<h1 class="text-left">Highest rated questions</h1>
			<div class="panel-scroll">
				<table>
					<thead>
						<th>Title</th>
						<th>Score</th>
						<th>Link</th>
					</thead>
					<tbody class="table-striped">
					</tbody>
				</table>
			</div>
		</div>
	</section>
{% endblock %}
{% block scripts %}
	<script>
		init_posts();
	</script>
{% endblock %}