{% extends "layout.html.jinja" %}
{% set active_page = "tags" %}
{% block title %}Tags{% endblock %}
{% block header %}Tags{% endblock %}
{% block main_name %}tags{% endblock %}
{% block content %}
	<aside class="grid-panel info-panel grid-w-12 grid-sw-12">
		<p class="grid-w-12">
			<i class="fa-solid fa-circle-info"></i>
			Sentiment score is a numerical score assigned to a piece of text based on its emotional tone, ranging between 100 to -100.
			A higher score typically means more positive reaction and discussion, a lower score typically means more negative reactions and discussions.
		</p>
	</aside>
	{% include '/components/tagform.html.jinja' %}
	<article class="grid-panel bg-light grid-w-12">
		<h1 class="grid-w-8 grid-sw-12 text-left">Question tags</h1>
		<i class="grid-w-4 grid-sw-12 text-right text-grey">For more details on a tag and more tags: <a href="https://stackoverflow.com/tags" target="_blank" rel="noopener noreferrer">Click here</a></i>
		<div class="grid-w-12 panel-scroll">
			<table>
				<thead>
					<th>Tag</th>
					<th>Question Count</th>
					<th>Answers Count</th>
					<th>Comments Count</th>
					<th>Total Score</th>
					<th>Total Views</th>
					<th>Sentiment Score</th>
					<th>About</th>
				</thead>
				<tbody class="table-striped">
				</tbody>
			</table>
		</div>
		<div class="grid-w-12 export-panel">
			<button class="btn-dark csv">Export CSV</button>
			<button class="btn-dark sql">Export SQL</button>
			<button class="btn-dark json">Export JSON</button>
			<button class="btn-dark txt">Export TXT</button>
		</div>
	</article>
{% endblock %}
{% block scripts %}
	<script>
	init_tags();
	</script>
{% endblock %}