{% extends "layout.html.jinja" %}
{% set active_page = "trending" %}
{% block title %}Trending{% endblock %}
{% block header %}Trending{% endblock %}
{% block main_name %}trending{% endblock %}
{% block content %}
	<div class="grid-panel info-panel grid-w-10 grid-sw-12 grid-h-2">
		<p class="grid-w-10 grid-sw-12 grid-h-2">
			<i class="fa-solid fa-circle-info"></i>
			This page shows the 30 most popular questions live this month, press Load more for an additional 30 posts from this month<br>
			All data comes from the Stack Exchange API, the agreement license can be found here: <a href="https://stackoverflow.com/legal/api-terms-of-use" target="_blank" rel="noopener noreferrer">Stack Exchange, Inc. API Terms of Use</a>
		</p>
	</div>
	<button class="btn-panel grid-w-2 grid-sw-12 grid-h-2 btn-green" id="load-api-posts">Load more posts <i class="fa-solid fa-plus"></i></button>
	<section id="api-box" class="grid-panel grid-w-12">
		<div class="grid-w-12 panel-scroll">
			<table>
				<thead>
					<th>Title</th>
					<th>User</th>
					<th>Tags</th>
					<th>Score</th>
					<th>Views</th>
					<th>Answered</th>
					<th>Link</th>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
	</section>
{% endblock %}
{% block scripts %}
	<script>
		let page_no = 1;
		let datatable;
		load_trending_table(page_no);
		document.getElementById('load-api-posts').addEventListener('click', function() {
			page_no++;
			load_trending_table(page_no);
		});
	</script>
{% endblock %}