{% extends "layout.html.jinja" %}
{% set active_page = "users" %}
{% block title %}User Details{% endblock %}
{% block header %}Stack Overflow Data Dashboards{% endblock %}
{% block main_name %}users{% endblock %}
{% block content %}

{% endblock %}
{% block scripts %}
	<script>
		init_users();
	</script>
{% endblock %}