{% extends "layout.html.jinja" %}
{% set active_page = "users" %}
{% block title %}User Details{% endblock %}
{% block header %}Stack Overflow Data Dashboards{% endblock %}
{% block main_name %}users{% endblock %}
{% block content %}
	{% include '/components/tagform.html.jinja' %}
	<article class="grid-panel bg-light grid-w-8 grid-mw-12 grid-sw-12">
		<h1 class="grid-w-6 grid-sw-12 text-left">Keywords from users</h1>
		<div class="grid-w-12 panel-scroll">
			<table id="keyword-table">
				<thead>
					<th>Keyword</th>
					<th>Occurance Count</th>
					<th>Average Reputation</th>
					<th>Total Reputation</th>
					<th>Average Creation Date</th>
				</thead>
				<tbody class="table-striped">
				</tbody>
			</table>
		</div>
		<div class="grid-w-12 export-panel">
			<button class="btn-dark csv">Export CSV</button>
			<button class="btn-dark sql">Export SQL</button>
			<button class="btn-dark json">Export JSON</button>
			<button class="btn-dark txt">Export TXT</button>
		</div>
	</article>
	<section class="grid-panel bg-light grid-w-4 grid-mw-12 grid-sw-12">
		<div class="grid-w-6 grid-sw-12">
			<h1 class="text-left text-center">Active users by year created</h1>
			<div class="canvas-wrapper" id="user-wrapper">
				<canvas id="userChart" aria-label="User Age Chart" role="img">
					<p></p>
				</canvas>
			</div>
		</div>
		<div class="grid-w-6 grid-sw-12">
			<h1 class="grid-w-6 grid-sw-12 text-left">User badges</h1>
			<div class="grid-w-12 panel-scroll">
				<table id="badges-table">
					<thead>
						<th>Badge</th>
						<th>Count</th>
					</thead>
					<tbody class="table-striped">
					</tbody>
				</table>
			</div>
		</div>
	</section>
{% endblock %}
{% block scripts %}
	<script>
		init_users();
	</script>
{% endblock %}